In [118]:
def sum(a,b):
    a = 3 
    b = 4 
    return a+b

In [119]:
x = "global"
def f():
    x = 10
    print("x inside :", x)
f()
print("x outside:", x)

x inside : 10
x outside: global

In [120]:
num = "global"
def f3():
    global x
    y = "local"
    x = num * 2

In [121]:
# write a program to perform factorial using recursion function
def fact(x):
    if x==0:
        result = 1
    else :
        result = x * fact(x-1)
    return result
print("zero factorial",fact(0))
fact(5)

zero factorial 1

120

In [122]:
a=str("mrcet")
a

'mrcet'

In [123]:
nam = 'arif hussain'
nam[1:7:8]

'r'

In [124]:
name = 'arif hussain'
name[2:]

'if hussain'

In [125]:
'name.find('i')

SyntaxError: unterminated string literal (detected at line 1) (1005914375.py, line 1)

In [ ]:
my_name = 'my name is arif hussain '
my_name.replace('my name is arif hussain ', 'my name is arif hussain and my brothers name is nasir')

In [ ]:
i = 1
list = [1 ,2,3,4,5,6,7,8,9,10]
lst = []
for num in list:
    lst.append(num**2)
print(lst)

In [ ]:
list = [1 ,2,3,4,5,6,7,8,9,10]
l3 = []
for num in list:
    if num%2==1:
        l3.append(num**2)
print(l3)

In [ ]:
list = [1 ,2,3,4,5,6,7,8,9,10]
sum = 0
for num in list:
    sum = sum + num 
print(' the sum of list ', sum)

In [ ]:
list = [1 ,2,3,4,5,6,7,8,9,10]
l5 = []
i = 0
while i < len(list)
    l5.append(i**2)
print(l5)

In [ ]:
#Aliasing
a = [81, 82, 83]
b = [81, 82, 83]
print(a == b)
print(a is b)

In [ ]:
c = [81, 82, 83]
d = c
print(c == d)
print(c is d)

In [ ]:
q=-6
w=-6
print(q==w)
print(q is w)

In [ ]:
e = 'qwerty'
r = 'qwerty'
print(e==r)
print(e is r)

In [ ]:
#cloning of list using slicing
a = [81, 82, 83]
b = a[:]
print(a==b)
print(a is b)

In [ ]:
# writing large values
l5 = [i**2 for i in range(1, 10)]
l5

In [ ]:
l6 = [i for i in range(1, 11) if i%2&3==0 ]
l6

In [ ]:
#tuple
x=[4,5,66,9]
y=tuple(x)
y

In [ ]:
print(y[3])

In [ ]:
y[:1]

In [ ]:
z=[(x, x**2) for x in range(6)]
z

In [ ]:
#dictionary
dict1 = {"brand":"mrcet","model":"college","year":2004}
dict1.keys()

In [ ]:
a=open('one.txt','r') 
print(a.read())

In [ ]:
new_file = open('open.txt' , 'x')

In [ ]:
a=open('open.txt','r') 
print(a.read())

In [ ]:
a=open('open.txt','a') 
a.write('hello world')

In [ ]:
a.write('Data Science')

In [ ]:
a.close()

In [ ]:
a=open('open.txt' , 'w+')
a.write('naveed jokoha')

In [ ]:
a.read()

In [ ]:
print(a.read())

In [ ]:
a.write('I"m styding Data Science')

In [ ]:
a=5
b=0
try:
 print(a/b)
except Exception:
 print("number can not be divided by zero")
 print("bye")

In [ ]:
a=5
b=2
try:
 print(a/b)
except Exception:
 print("number can not be divided by zero")
 print("bye")

In [ ]:
#2D list
L = [ [1,2,3], [1,4,5]]
L[1]

In [ ]:
L[1][1]

In [ ]:
l=[[1,2],[1,3,4],[2,3,6]]
l[2][2]

In [ ]:
import math
math.pi

In [ ]:
a=10
b=20
sum([a+b])

In [ ]:
abs(1)

In [ ]:
pow(5,2)

In [ ]:
round(3.94)

In [ ]:
num=[1,2,3]
(list(filter(lambda x: x % 2 == 0, num)))

In [ ]:
max(2,3,9,4)

In [ ]:
s = '2+3'
eval(s)

In [ ]:
s = '2*3'
eval(s)

In [ ]:
tup = (1,2,3,4)
l = [1,2,4,7]
list(filter(lambda x: x%2==0,l))

In [ ]:
l = [1,2,8,7]
l1 = sorted(l)
print(l1)

In [ ]:
#map
lst1 = [1,2,3,4]
list(map(lambda x: x*2, lst1))

numpy library

In [ ]:

import numpy as np

In [ ]:
#converting list to array
data = [1,2,3,4]
arr = np.array(data)
arr

In [ ]:
#converting tuple to array
tup=(1,2,3)
s={1,2,3,4,5,6}
artup = np.array(tup)
artup

In [ ]:
#printing all zeros
zero_array = np.zeros(7)
zero_array

In [ ]:
z1 = np.zeros((3,5))
z1

In [ ]:
#printing all ones
a1 = np.ones((2,4))
a1.astype(int)

In [ ]:

a1 = np.ones((2,4,3))
a1

In [ ]:
#
em = np.empty((2, 2, 3))
em

In [ ]:
#it prints under the range
rn = np.arange(15)
rn

In [ ]:
#cheching data types
rn.dtype

In [ ]:
l1=[1,2,3]
l2=[2,3,4]

In [ ]:
#printing all 5
a2 = np.full((2,3),5)
a2

In [ ]:
arthe = np.linspace(1,100,10)
print(arthe)

In [ ]:
random = np.random.random((3,2))
random

### normal = np.random.normal(0, 1, (3, 3))
normal

In [ ]:
x3 = np.random.randint(10, size=(3, 4, 5))
x3

In [ ]:
print(x3.ndim)
print(x3.shape)
print(x3.size)

In [ ]:
x2 = np.random.randint(10, size=(4, 5))
print(x2)

In [ ]:
x2[-3,-3]

In [ ]:
x2[:2, :3]

In [ ]:
x2[:3, ::2]

In [ ]:
x2[::-1, ::1]

In [ ]:
x4 = np.random.randint(10, size=(4, 5))
print(x4)

In [ ]:
x4[0:2,0:3]

CLASS WORK

In [ ]:
m1 = np.full((2,4),7)
m1

In [ ]:
zero = np.zeros(11)
zero

In [ ]:
ONE = np.ones((1,3, 5))
ONE

In [ ]:
val = np.linspace(100,200,10)
print(val)

In [ ]:
normal = np.random.normal(0, 1, (3, 3))
normal

In [ ]:
normal = np.random.randint(10, 100, (3, 3))
normal

In [ ]:
no = np.eye(4)
no

In [ ]:
now = np.empty((3,5))
now

In [ ]:
#print("dimension",no.ndim)
#print("shape",no.shape)
print("size",no.itemsize)

In [ ]:
vl = np.random.randint(10, size=(4, 5))
print(vl)

In [ ]:
vl[2::3,3:5]

In [ ]:
vl[::-2]

In [ ]:
#cheching types
vl.dtype

In [ ]:
no

In [ ]:
nm = np.random.randint(10, 30,(3, 3))
print(nm)

In [ ]:
#copy function
slc = nm[1:, 1:]
slc

In [ ]:
slc[0, 1]= 50
print(slc)

In [ ]:
print(nm)

In [ ]:
slc1 = nm[1:2,0:2].copy()
slc1

In [ ]:
print(nm)

In [ ]:
slc1[0, 1]= 100
print(slc1)

In [ ]:
print(nm)

In [ ]:
#rehsape
numm = np.arange(1,13).reshape((3,4))
numm

In [ ]:
#.concatinate
c = ([1,2,3,5,4])
b = ([3,4,5,8,6])
concatenate = np.concatenate([c,b])
concatenate

In [ ]:
#v and h stack
z = np.array([1, 2, 3])
grid = np.array([[3, 4, 7],[3, 3, 9]])
np.vstack([z, grid])

In [ ]:
y = np.array([[99],
              [99]])
y

In [ ]:
np.hstack([grid, y])

In [ ]:
#split
z2 = np.arange(0,14)
x1, x2, x3 = np.split(z2, [3,4])
print(x1,x2,x3)

In [ ]:

x = np.arange(1, 6)
np.add.reduce(x)

In [ ]:
np.add.accumulate(x)

In [ ]:
L = np.random.random(100)
sum(L)

In [ ]:
arr = np.random.randint(163, 194, 50)
arr
print("Mean height:       ", arr.mean())
print("Standard deviation:", arr.std())
print("Minimum height:    ", arr.min())
print("Maximum height:    ", arr.max())
print("25th percentile:   ", np.percentile(arr, 25))
print("Median:            ", np.median(arr))
print("75th percentile:   ", np.percentile(arr, 75))

matplotlib.pyplot Library

MATPLOTLIB.PYPLOT LIBRARY

In [ ]:
import matplotlib.pyplot as plt
import seaborn; seaborn.set()
plt.hist(arr)
plt.title('Height Distribution of US Presidents')
plt.xlabel('height (cm)')
plt.ylabel('number');

In [ ]:
#to check version of library
np.__version__

PANDA library


importing panda library

In [210]:
import pandas as pd

In [212]:
data = pd.Series([4,2,6,7,8])
data

0    4
1    2
2    6
3    7
4    8
dtype: int64

In [214]:
data.values

array([4, 2, 6, 7, 8], dtype=int64)

In [216]:
data.index

RangeIndex(start=0, stop=5, step=1)

In [218]:
data1 = pd.Series([1,2,3,4,5], index = ['a','b','c','d','e'])
print(data1)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [220]:
data.keys
num = {'ali':12, 'arif':13, 'abbas':14, 'israr':15}
data = pd.Series(num)
data

ali      12
arif     13
abbas    14
israr    15
dtype: int64

In [222]:
sub = {'ali':'math', 'arif':'physics', 'abbas':'IT', 'israr':'AI'}
data2 = pd.Series(sub)
data2

ali         math
arif     physics
abbas         IT
israr         AI
dtype: object

In [224]:
info = pd.DataFrame({'marks' :data, 'sub' :data2})
info

       marks      sub
ali       12     math
arif      13  physics
abbas     14       IT
israr     15       AI

In [226]:
info.columns

Index(['marks', 'sub'], dtype='object')

In [228]:
data.loc['ali']

12

In [230]:
data2[(data > 13)&(data < 16)]

abbas    IT
israr    AI
dtype: object

In [232]:
info['total marks'] = info['marks']+3
info

       marks      sub  total marks
ali       12     math           15
arif      13  physics           16
abbas     14       IT           17
israr     15       AI           18

In [234]:
info.iloc[1:2:1,1]

arif    physics
Name: sub, dtype: object

In [236]:
rng = np.random.RandomState(42)
ser = pd.Series(rng.randint(0, 10, 4))
ser

0    6
1    3
2    7
3    4
dtype: int32

In [238]:
rng = np.random.RandomState(42)
srr = pd.DataFrame(rng.randint(0, 40, (3,4)), columns=['a', 'b', 'c', 'd'])
srr

    a   b   c   d
0  38  28  14   7
1  20  38  18  22
2  10  10  23  35

In [ ]:
pd.read_csv('Downloads/Employees Data.csv')