In [3]:
print('hello world',234,2.3,False,sep='---',end='\n\n\n')
print('i am your friend')

hello world---234---2.3---False


i am your friend

In [5]:
city='karachi'
print(city)

karachi

In [7]:
city

'karachi'

In [27]:
num1= 4
num2= 5
sum=num1 + num2
print('the sum is:' ,sum)

the sum is: 9

In [29]:
num1= 10
num2= 5
pro= num1*num2
print('the product is:' ,pro)

the product is: 50

In [31]:
num1= 10
num2= 5
diff= num1-num2
print('the diff is:' ,diff)

the diff is: 5

In [33]:
num1= 10
num2= 5
div= num1/num2
print('the div is:' ,div)

the div is: 2.0

In [35]:
height= 13
width= 8
area= height*width
print('the area of rectangle is :' , area)

the area of rectangle is : 104

In [121]:
num1= 10
num2= 5
mod= num1%num2 # remaider value
print('the modulus is:' ,mod)

the modulus is: 0

In [123]:
num1= 10
num2= 5
exp= num1**num2
print('the exponential is:' ,exp)

the exponential is: 100000

In [37]:
type('pakistan')

str

In [39]:
type(23)

int

In [41]:
type(2.3)

float

In [43]:
type(True)

bool

In [45]:
type({1, 2, 3})

set

In [47]:
type((1,2,3))

tuple

In [49]:
type([1,2,3,4])

list

In [59]:
type({"name":'rubi',"age": 22})

dict

In [61]:
a='united states'
a

'united states'

In [63]:
len(a) # with spcae count

13

In [65]:
a.count('t')

3

In [67]:
a.count('united')

1

In [69]:
a.count('s')

2

In [73]:
a.endswith('s')

True

In [75]:
a.startswith('u')

True

In [77]:
a.find('i')

2

In [81]:
a.isalpha()

False

In [83]:
a.isspace()

False

In [89]:
a.isdigit()

False

In [95]:
a.isalnum()

False

In [101]:
a.upper()

'UNITED STATES'

In [103]:
a.lower()

'united states'

In [107]:
text ='three little ducks'
text

'three little ducks'

In [109]:
text.split()

['three', 'little', 'ducks']

In [117]:
text.replace('ducks', 'chicks')

'three little chicks'

In [111]:
para='The sun dipped below the horizon, casting a warm golden glow across the quiet town. Birds chirped softly in the distance, and the rustling leaves whispered secrets to anyone willing to listen. As the evening breeze cooled the air, a sense of peace settled over the streets. People wandered outside, enjoying the gentle transition from day to night, knowing that tomorrow would bring new opportunities and stories to be told.'
para

'The sun dipped below the horizon, casting a warm golden glow across the quiet town. Birds chirped softly in the distance, and the rustling leaves whispered secrets to anyone willing to listen. As the evening breeze cooled the air, a sense of peace settled over the streets. People wandered outside, enjoying the gentle transition from day to night, knowing that tomorrow would bring new opportunities and stories to be told.'

In [125]:
para.split('.')

['The sun dipped below the horizon, casting a warm golden glow across the quiet town',
 ' Birds chirped softly in the distance, and the rustling leaves whispered secrets to anyone willing to listen',
 ' As the evening breeze cooled the air, a sense of peace settled over the streets',
 ' People wandered outside, enjoying the gentle transition from day to night, knowing that tomorrow would bring new opportunities and stories to be told',
 '']

In [127]:
len(para) # to count caharacteristics with space and punctuations

424

In [131]:
para.count(' ') # to count words

69

In [115]:
x='   abc'
x.lstrip()  # removes the left side space

'abc'

In [143]:
name= input('enter your name:' )
age= int(input('enter your age:' ))
print('hello,', name,'! you are', age,'years old')

enter your name: ali
enter your age: 22

hello, ali ! you are 22 years old

In [149]:
num1= float(input( 'enter a number:'))
num2= float(input( 'enter a number:'))
print('Sum:', num1+num2)
print('differnce:', num1-num2)
print('product:', num1*num2)
print('Qutation:', num1/num2)

enter a number: 3
enter a number: 3

Sum: 6.0
differnce: 0.0
product: 9.0
Qutation: 1.0

Write a Python program that takes two inputs from the user: one integer and one string representing a number.
The program should perform the following operations:

    Convert the string input to an integer.
    Add the two integers together.
    Print the result of the addition.

In [151]:
num1=int(input('Enter a number:'))
num2=input('enter a number:')
num=int(num2)
sum=num1+num
print('the sum of num1 and num2 is:', sum)

Enter a number: 2
enter a number: 2

the sum of num1 and num2 is: 4

Write a Python program that asks the user for two numbers and then prints the sum, product, and difference of the two numbers using formatted output

In [157]:
num1=int(input('enter a number: '))
num2=int(input('enter a number: '))
sum=num1+num2
pro=num1+num2
sub=num1-num2
print(f'the sum of {num1} and {num2} is {sum}')
print(f'the product of {num1} and {num2} is {pro}')
print(f'the sub of {num1} and {num2} is {sub}')

enter a number:  4
enter a number:  8

the sum of 4 and 8 is 12
the product of 4 and 8 is 12
the sub of 4 and 8 is -4

In [165]:
customer_ids = [101, 102, 103, 104, 105]
feedback = [
    "  Excellent service and fast delivery!!   ",
    "Horrible support, never ordering again...",
    "Great quality but packaging was bad. ",
    "    Amazing product, will recommend.    ",
    "Not happy with the product!   "
]
for i in range(len(feedback)):
    print(f'CustomerID: {customer_ids[i]}, Feedback: {feedback[i]}')

CustomerID: 101, Feedback:   Excellent service and fast delivery!!
CustomerID: 102, Feedback: Horrible support, never ordering again...
CustomerID: 103, Feedback: Great quality but packaging was bad.
CustomerID: 104, Feedback:     Amazing product, will recommend.
CustomerID: 105, Feedback: Not happy with the product!

In [167]:
num1=int(input('enter a number:'))
num2=int(input('enter a number:'))
if (num1>num2):
    print(f'{num1} is greater than {num2}')
else:
    print(f'{num1} is not greater than {num2}')

enter a number: 3
enter a number: 5

3 is not greater than 5

In [169]:
num=int(input('enter a number:'))
if(num> 0):
    print('the number is positive')
elif(num<0):
    print('the num is negative')
else:
    print('the num is zero')

enter a number: 5

the number is positive

In [171]:
num=int(input('enter a number:'))
if(num%2==0):
    print('the num is even')
else:
    print('the num is odd')

enter a number: 7

the num is odd

In [173]:
num1=int(input('enter a number:'))
num2=int(input('enter a number:'))
num3=int(input('enter a number:'))
num4=int(input('enter a number:'))
if (num1>=num2 and num1>=num3 and num1>=num4):
    print('num1 is the largest number')
elif (num2>num1 and num2>=num3 and num2>=num4):
    print('num2 is the largest number')
elif (num3>num2 and num3>=num1 and num3>=num4):
    print('num3 is the largest number')
else :
    print('num4 is the largest number')

enter a number: 3
enter a number: 4
enter a number: 5
enter a number: 6

num4 is the largest number

In [175]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year:  2005

2005 is not a leap year.

In [179]:
num=int(input('enter a number:'))
if (num >1):
    for i in range(2, num):
        if (num% i ==0):
            print('the num is not a prime number')
            break
        else:
            print('the num is a prime number')
else:
    print('the num is not a prime number')

enter a number: 4

the num is not a prime number

In [181]:
user=input('enter your username')
password=input('enter your password')
if (len(user and password) >10):
    print('too big')
else:
    print('ok')

enter your username riorvdlvkovklvdvm
enter your password dvndjkvndvdlvjv

too big

In [183]:
height = float(input("Enter a number for height(ft): "))
if height > 6:
    print("Tall man")
elif height > 5:
    print('Average')
else:
    print("Short")

Enter a number for height(ft):  4

Short

In [251]:
# index     0         1           2       3          4       5
fruits = ['Apple', 'Sharifa', 'Mango','Cherry','Banana',"Zarifa"]
# -ve       -6        -5       -4         -3      -2       -1
fruits

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'Zarifa']

In [223]:
len(fruits)

6

In [225]:
fruits[2]

'Mango'

In [227]:
fruits[-4]

'Mango'

In [253]:
fruits.append('orange') # add at end
fruits

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'Zarifa', 'orange']

In [247]:
fruits.insert(2,'blueberry') # adds eith defined index
fruits

['Apple',
 'Sharifa',
 'blueberry',
 'blueberry',
 'Mango',
 'Cherry',
 'Banana',
 'Zarifa',
 'orange']

In [233]:
list1 = [1, 2, 3, 4, 5]
list2 = [6, 7, 8, 9, 10]
list3 = []
list3.append(list1) # adds the list with the list
list3.extend(list2) # adds the list inside the existing list
list3

[[1, 2, 3, 4, 5], 6, 7, 8, 9, 10]

In [235]:
list3[0]

[1, 2, 3, 4, 5]

In [237]:
fruit = ['apple', 'banana', 'cherry', 'date', 'elderberry']
fruit

['apple', 'banana', 'cherry', 'date', 'elderberry']

In [245]:
del fruit
fruit

NameError: name 'fruit' is not defined

In [275]:
# index     0         1           2       3          4       5
fruits = ['Apple', 'Sharifa', 'Mango','Cherry','Banana',"Zarifa"]
# -ve       -6        -5       -4         -3      -2       -1
fruits

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana', 'Zarifa']

In [277]:
fruits.pop()
fruits

['Apple', 'Sharifa', 'Mango', 'Cherry', 'Banana']

In [279]:
popped_item=fruits.pop()
popped_item

'Banana'

In [317]:
fruits.append('banana')
fruits

['Apple', 'Sharifa', 'Mango', 'banana', 'banana']

In [311]:
fruits.pop(4)

'banana'

In [321]:
fruits.remove('mango')

ValueError: list.remove(x): x not in list

In [323]:
fruits

['Apple', 'Sharifa', 'Mango', 'banana', 'banana']

In [325]:
fruits.count('banana')

2

In [327]:
#     -9  -8 -7 -6 -5 -4 -3 -2 -1  
nums= [11,22,33,44,55,66,77,88,99]
#       0  1  2  3  4  5  6  7  8
nums

[11, 22, 33, 44, 55, 66, 77, 88, 99]

In [331]:
nums[0]

11

In [333]:
nums[2:4]

[33, 44]

In [335]:
nums[1:6:1]

[22, 33, 44, 55, 66]

In [337]:
nums[1:6:2]

[22, 44, 66]

In [339]:
nums[2:4]

[33, 44, 55]

In [341]:
student_scores = {"John": 85, "Alice": 90, "Bob": 78}
print(student_scores)

{'John': 85, 'Alice': 90, 'Bob': 78}

In [343]:
student_scores["Eve"] = 88  # Adds a new key-value pair
student_scores

{'John': 85, 'Alice': 90, 'Bob': 78, 'Eve': 88}

In [345]:
# Changing the value for 'Alice'
student_scores["Alice"] = 95
print(student_scores)

{'John': 85, 'Alice': 95, 'Bob': 78, 'Eve': 88}

In [347]:
len(student_scores)

4

In [349]:
record2 = {"laptop":20000, 'keyboard':5000, 'bag':3000}
record2

{'laptop': 20000, 'keyboard': 5000, 'bag': 3000}

In [351]:
del record2['bag']

In [353]:
record2

{'laptop': 20000, 'keyboard': 5000}

In [355]:
record2.pop('laptop')

20000

In [357]:
record2

{'keyboard': 5000}

In [359]:
temp_dic = {1:'one', 2:'eight', 3:'twenty seven','four':64,5:125}
temp_dic

{1: 'one', 2: 'eight', 3: 'twenty seven', 'four': 64, 5: 125}

In [361]:
temp_dic[3]

'twenty seven'

In [363]:
temp_dic[3][1]

'w'

In [367]:
student_scores = {"John": 85, "Alice": 90, "Bob": 78}

for name, score in student_scores.items():
    print(f"{name}: {score}")

John: 85
Alice: 90
Bob: 78

In [369]:
text  = input("Enter a parageaph: ")
vowels = "aeiouAEIOU"
vowel_count={}
for vowel in vowels:
    vowel_count[vowel] = text.count(vowel)
    
vowel_count

Enter a parageaph:  The sun dipped below the horizon, casting a warm golden glow across the quiet town. Birds chirped softly in the distance, and the rustling leaves whispered secrets to anyone willing to listen. As the evening breeze cooled the air, a sense of peace settled over the streets. People wandered outside, enjoying the gentle transition from day to night, knowing that tomorrow would bring new opportunities and stories to be told

{'a': 16,
 'e': 50,
 'i': 25,
 'o': 31,
 'u': 6,
 'A': 1,
 'E': 0,
 'I': 0,
 'O': 0,
 'U': 0}

In [371]:
guests = []
for a in range(5):
    guest = input("Guest name: ")
    guests.append(guest)
guests

Guest name:  rubina
Guest name:  jdod
Guest name:  djsijd
Guest name:  skjdsdh
Guest name:  dsj

['rubina', 'jdod', 'djsijd', 'skjdsdh', 'dsj']

In [373]:
counter  = 0
while counter <5:
    print(counter, "Hello")
    counter +=1

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello

In [375]:
attempt = 3
while attempt>0:
    email = 'lololo@gmail.com'
    password= 'bhar me jao'
    e = input('enter yor email')
    p= input ('enter your password')
    if e==email and p==password:
        print('login successfully')
        break
    else:
        print('incorrect')
        attempt-=1

enter yor email fsdkfh
enter your password dkfjdig

incorrect

enter yor email sdfjdoigj
enter your password sdijdoi

incorrect

enter yor email sdljodfg
enter your password svjdfiojg

incorrect

In [377]:
def table():
    num=int(input('enter a number: '))
    i= 1
    while i<=10:
        print(f'{num} x {i} = {num*i}')
        i +=1
table()

enter a number:  7

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [379]:
i = 3
while i<6:
    print('data science')
    i +=1

data science
data science
data science